@model Model.Entity.SalesMan
@{
    ViewBag.Title = Model.Name;
}

<ol class="breadcrumb">
    <li><a href="~/">Vendedores</a></li>
    <li class="active">@(Model.Name)</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">Informação Pessoal</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Código</dt>
            <dd>@Model.IdSalesMan</dd>

            <dt>Nome</dt>
            <dd>@Model.Name</dd>

            <dt>CPF</dt>
            <dd>@Model.Cpf</dd>

            <dt>Endereço</dt>
            <dd>@Model.Address</dd>

            <dt>Telefone</dt>
            <dd>@Model.Telephone</dd>
        </dl>
        <div class="form-actions">
            |@Html.ActionLink("Voltar a Lista", "Index");
        </div>
    </div>
</div>
